*{box-sizing: border-box;}
.navmenu {
    overflow: none;
    transition:0.10s;
    width:100%;
    top:35px;
    z-index:3;
    display:block;
    transition: top 0.1s;
    height: 80px;
    position: fixed;
    width: 100%;
    transition: 0.4s;
}

.navmenu a {
    background-color: transparent;
    float: right;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    display: block;
    font-family: IBMPlexSans-Regular;
  }

.nav-transparent{
    border-radius: 0px;
    background-color: transparent;
    height: 80px;
}

.nav-colored{
  border-radius: 8px;
  background-color: black;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movies{
  position: absolute;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: IBMPlexSans-Regular;
  font-size: 12px;
  top: 10px;
  z-index: 4;
}


.account{
  position: absolute;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: IBMPlexSans-Regular;
  font-size: 12px;
  background-color: transparent;
  top: 10px;
  right: 5%;
}

.account:hover{
  color: black;
  background-color: white;
  border: 0px solid transparent;
} 

.navmenu-left a{
    float:left;
    padding-top: 20px;
    padding-left: 5%;
    font-size: 12px;
}

.rpnavmenu1{
  display: none;
  transition:0.10s;
  transition: top 0.1s;
  top:50px;
  background-color: transparent;
}
.rpnavmenu{
  display:none;
  z-index:3;
  transition:0.10s;
  top:50px;
  transition: top 0.1s;
  position: fixed;
  width: 100%;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  text-align:center;
  background-color: transparent;
}

  @media only screen and (max-width:960px) {
    .navmenu{
      height:60px;
      display:none;
    }
    
    .undergroundlogo{
      width:65px;
      height:50px;
    }
    .nrnavmenu{
      display:none;
    }
    .rpnavmenu1{
      display:block;
    }
  
  }

  @font-face {
    font-family: IBMPlexSans-Regular;
    src: url("../Dependencies/Fonts/IBMPlexSans-Regular.ttf");
  }


.youraccount{
  width: 260px;
  height: 310px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
  display: none;
  float: right;
  font-family: IBMPlexSans-Bold;
  margin-top: 120px;
  margin-right: 5%;
  position: absolute;
  right: 0%;
}

.account-fieldName{
  font-size: 12px;
  color: rgba(131,128,128,1);
  margin-left: 20px;
}

.account-fieldContent{
  font-size: 12px;
  margin-left: 20px;
}

.signoutButton{
  width: 225px;
  height: 35px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgb(227,60,60);
  color: black;
  font-family: IBMPlexSans-Bold;
  font-size: 14px;
  margin-top: 70px;
  margin-left: 17px;
}

.signoutButton:hover{
  background-color: rgb(227,60,60);
  color: white;
  cursor: pointer;
}

.categoryPopup{
  width: 90%;
  height: 440px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
  display: none;
  float: right;
  font-family: IBMPlexSans-Bold;
  margin-top: 120px;
  margin-right: 5%;
  margin-left: 5%;
  position: absolute;
  right: 0%;
}

.wrapper {
  margin: 0px 30%;
}
.toggle_radio{
  position: relative;
  background: transparent;
  height: 60px;
  width: 600px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  position: relative;
  z-index: 1;
  font-family: IBMPlexSans-Regular;
  font-size: 14px;
  color: white;
  display: block;
  width: 128px;
  margin: 8px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.toggle_option_slider{
  width: 128px;
  height: 40px;
  top: 11px;
  position: absolute;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  position: absolute;
  z-index: 0;
  background: white;
  left: 30px;
}
#second_toggle:checked ~ .toggle_option_slider{
  position: absolute;
  z-index: 0;
  background: white;
  left: 215px;
}
#third_toggle:checked ~ .toggle_option_slider{
  position: absolute;
  z-index: 0;
  background: white;
  left: 405px;
}
  